<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<center><h1>{{title}}</h1></center>
	<form>
	    <p>
	        <label>
	            E-mail:
	            <input type="text" name="email" id="email">
	        </label>
	    </p>
	    <p>
	        <label>
	            Password:
	            <input type="password" name="password" id="password">
	        </label>
	    </p>
	    <p>
	        <input type="submit" value="Sign In" id="submit">
	    </p>
	</form>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#submit").click(function(){
		    	console.log({"email": $('#email').val(), "password": $('#password').val()})
				$.ajax({
				      type: 'POST',
				      url: "http://localhost:8080/post/login",
				      data: {"email": $('#email').val(), "password": $('#password').val()},
				      dataType: "text",
				      success: function(resultData) { alert("Save Complete") },
				      error: function(error) {alert("Something went wrong")}
				});
		    });
		});

	</script>
</body>
</html>