
	<center><h1>{{title}}</h1></center>

	<div class="container">
		<div class="child-container">
			<form action="/post/login" method="POST">
				<div class="form-group">
			      <label for="usr">Username:</label>
			      <input type="text" class="form-control email" id="usr" name="email" required>
			    </div>
			    <div class="form-group">
			      <label for="usr">Password:</label>
			      <input type="password" class="form-control password" id="usr" name="password" required>
			    </div>
			    <div class="form-group">
			    	<button type="button" class="btn btn-info submit">Login</button>
			    </div>
			</form>
		</div>
	</div>
